html {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	background: black;
}
body {
	background: url(../img/background-beta3.jpg);
	background-size: 100% ;
	background-repeat: no-repeat;
	background-attachment: fixed ;
}

/*containers --------------- display: flex align-items: center ----------------*/
header,
.menu,
.link,
.link a,
.about,
.work,
.line,
.social {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

header {
	width: 100%;
	height: 45vw;
	justify-content: top;
	flex-direction: column;
}
/*-------menu---------menu-items------------*/
.menu {
	justify-content: space-around;
	background: black;
	position: fixed;
	width: 100%;
}
header input {
	display: none;
}
header label {
	width: 40px;
	
	display: none;
}
	header label img {
	width: 40px;
	height: 40px;
}

.link {
	justify-content: center;
	width: 11.111rem;
	width: -moz 11.111rem;
	
	height: 50px;
}
.link a{
	justify-content: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
.link:hover {
	background: #2e3d43;
}
/*----------logo----------img--------and---------text-------------*/
.logo {
	margin-top: 55px;
}
.logo img {
	width: 15vw;
	height: 15vw;
}
.textlogo h1 {
	font-size: 6rem;
	color: white;
	font-weight: 900;	
}
/*----------about-------------about-----items--------------------*/
.about {
	background: #e0eaeb;
	height: 300px;
	justify-content:center;
	flex-direction: column;
}
.about h2 {
	font-size: 3rem;
}
.about p {
	min-width: 18rem;
	max-width: 40rem;
	line-height: 1.5rem;
	font-size: 1.2rem;
}
/*-----------work------------work-----------items-----------------*/
.work {
	justify-content: space-around;
	background: white;
	min-height: 500px;
	flex-wrap: wrap;
}
.work h2 {
	font-size: 3rem;
	border-bottom: 1px solid grey;
	margin-bottom: 1.2rem;
	line-height: 4rem;
}
.work ul {
	display: flex;
	flex-direction: column;
	-ms-align-items: left;
	align-items: left;
	font-size: 1.2rem;
	line-height: 2rem;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	height: 15rem;	
	
}

/*contact--------------------contact------items-------------------*/

.contact {
	color:white;
	height: 900px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	-ms-align-items: center;
	align-items: center;
	background: transparent;
}
.block {
	color:white;
	min-height: 700px;
	background: #2f3c45;
	display: flex;
	justify-content: space-around;
	width: 100%;
	-ms-align-items: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.mycontact {
	display: flex;
	flex: 2;
	flex-direction: column;
	margin-left: 30px;
}
/*form----and---------form-------items--------*/
form {
	margin-left: 30px;
	margin-right: 30px;
	flex-direction: column;
	display: flex;
	flex: 3;
	min-width: 300px;
}
span {
	color: red;
}
.line {
	width: 100%;
	justify-content: space-between;
	height: 80px;
}
.line:nth-child(4) {
	height: 180px;
}
input, textarea {
	border: none;
	width: 70%;
	height: 60px;
	background: #65717A;
	font-size: 1.2rem;
	color: white;
	font-weight: normal;
}
input:hover,
textarea:hover {
	background: #1cb8ff;
}
label {
	letter-spacing: 2px;
	width: 30%;
	font-size: 1.2rem;
	color: white;
	font-weight: bold;
}
textarea {
	height: 90%;
	
}

.line:last-child input {
	width: 40%;
	background: black;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.line:last-child input:hover {
	background: white;
	color: black;
}
::placeholder {
	color: #c2d6e6;
	padding-left: 10px;
}
.mycontact h2 {
	font-size: 20px;
	color: lightblue;
	font-weight: 900;
	line-height: 35px;
	letter-spacing: 1px;
	border-bottom: 1px solid grey;
}
.mycontact ul li {
	line-height: 25px;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
}
.social {
	width: 100%;
	height: 10rem;
	background: black;
	color: white;
	justify-content: space-around;
}
.social img {
	height: 50px;
	width: 50px;
}
.social img:hover {
	background: #2e3d43;
	border-radius: 25px;
}

/*media---------------------mobile adaptive-------------------*/

@media  screen and (max-device-width: 640px) {
	.menu {
		/*background: black;
		flex-direction: column;
		position: inherit;*/
		
		font-size: 2.5rem;
		/*height: 400px;
		width: 100%;*/
	}	
/*	.menu .link {
		display: none;
	}*/
	header input {
		display: none;
	}
	header label img {
	width: 40px;
	height: 40px;
}
	.block {
		height: 100%;
		width: 100%;
		flex-direction: column;	
	}
	.block .mycontact h2 {
		
		font-size: 3rem;
		
		line-height: 3.2rem;
	}
	.mycontact {
		height: 100%;
		width: 100%;
	}
	form {
		width: 95%;
	}
/*	body {
		background-position: 0 300px;
	}*/
	.block .mycontact ul li,
	 label, 
	 input, 
	 textarea, 
	 .card ul li, 
	 .about p {
		
		font-size: 2rem;
		
		line-height: 2.5rem;
	}
	/*.menu .link {
		width: 100%;
		height: 100%;
		
	}*/
	.textlogo h1 {
		font-size: 6rem;
		color: white;
		font-weight: 900;	
		margin-bottom: 40px;
	}

	header label {
		display: block;
		cursor: pointer;
		background: transparent;
		top: 0;
		left: 0;
		position: absolute;
	}
	.menu {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 340px;
		height: 400px;
		position: absolute;
		display: flex;
		top: 0;
		left: 40px;
	}
	.link {
		width: 100%;
		
	}
	.link a {
		justify-content: flex-start;
		margin-left: 20px;

	}
	#checkmenu:checked + .menu {
		display: none;
	}
} 
@media screen and (max-width: 800px) {
	.textlogo h1 {
		font-size: 10vw;
	}
	header label {
		display: block;
		cursor: pointer;
		background: transparent;
		top: 0;
		left: 0;
		position: absolute;
	}
		header label img {
	width: 40px;
	height: 40px;
}
	.menu {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 240px;
		height: 200px;
		position: absolute;
		display: flex;
		top: 0;
		left: 40px;
	}
	.link {
		width: 100%;
		
	}
	.link a {
		justify-content: flex-start;
		margin-left: 20px;
	}
	#checkmenu:checked + .menu {
		display: none;
	}

}
