html {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}
body {
	background: url(background-beta3.jpg);
	background-size: 100% ;
	background-repeat: no-repeat;
	background-attachment: fixed ;
}
header {
	/*background: url(background-beta3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed ;*/
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: top;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.menu {
	display: flex;
	width: 100%;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	background: black;
	position: fixed;

}
.link {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
}
.link a{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
.link:hover {
	background: #2e3d43;
}
.logo {
	margin-top: 55px;
}
.logo img {

	width: 200px;
	height: 200px;
}
.textlogo h1 {
	font-size: 6rem;
	color: white;
	font-weight: 900;	
}

.about {
	background: #e0eaeb;
	min-height: 300px;
	display: flex;
	justify-content:center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.about h2 {
	font-size: 3rem;
}
.about p {
	min-width: 20rem;
	max-width: 40rem;
	line-height: 1.5rem;
	font-size: 1.2rem;
}
.work {
	display: flex;
	-ms-align-items:center;
	align-items: center;
	justify-content: space-around;
	background: white;
	min-height: 500px;
	flex-wrap: wrap;
}
.work h2 {
	font-size: 3rem;
	border-bottom: 1px solid grey;
	margin-bottom: 1.2rem;
	line-height: 4rem;
}
.work ul {
	display: flex;
	flex-direction: column;
	-ms-align-items: left;
	align-items: left;
	font-size: 1.2rem;
	line-height: 2rem;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: top;
	-ms-align-items: left;
	align-items: flex-start;
	height: 15rem;	
	
}
.contact {
	color:white;
	height: 900px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	-ms-align-items: center;
	align-items: center;
	background: transparent;
	

}
.block {
	color:white;
	min-height: 700px;
	background: #2f3c45;
	display: flex;
	justify-content: space-around;
	width: 100%;
	-ms-align-items: top;
	align-items: top;
	flex-wrap: wrap;
	
}
.mycontact {
	display: flex;
	flex: 2;
	flex-direction: column;
	margin-left: 30px;

}

form {
	margin-left: 30px;
	flex-direction: column;
	display: flex;
	flex: 3;
	min-width: 300px;

}
span {
	color: red;
}
.line {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 80px;
	-ms-align-items: center;
	 align-items: center;
}
.line:nth-child(4) {
	height: 180px;
}
input {
	border: none;
	width: 70%;
	height: 60px;
	background: #65717A;
	font-size: 1.2rem;
	color: white;
	font-weight: normal;
}
input:hover {
	background: #1cb8ff;
}
label {
	letter-spacing: 2px;
	width: 30%;
	font-size: 1.2rem;
	color: white;
	font-weight: bold;
}
textarea {
	height: 90%;
	width: 70%;
	background: #65717A;
	color: white;
	font-size: 20px;
	border: none;
}
textarea:hover {
	background: #1cb8ff;	
}

.line:last-child input {

	width: 40%;
	background: black;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;


}
.line:last-child input:hover {
	background: white;
	color: black;
}
::placeholder {
	color: #c2d6e6;
	padding-left: 10px;
}
.mycontact h2 {
	font-size: 20px;
	color: lightblue;
	font-weight: 900;
	line-height: 35px;
	letter-spacing: 1px;
	border-bottom: 1px solid grey;

}
.mycontact ul li {
	line-height: 25px;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
}
.social {
	width: 100%;
	height: 10rem;
	background: black;
	color: white;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.social img {
	height: 50px;
	width: 50px;

}
.social img:hover {
	background: #2e3d43;
	border-radius: 25px;
}
/*media*/
@media  screen and (max-device-width: 600px) {
	.menu {
		font-size: 2rem;
	}
	.block {
		flex-direction: column;
	}
	.mycontact {
		font-size: 2rem;
	}
}
