html {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	background: black;
}
body {
	background: red;
	background-size: 100% ;
	background-repeat: no-repeat;
	background-attachment: fixed ;
}
header,
.menu,
.link,
.link a {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

header {
	width: 100%;
	height: 700px;
	justify-content: top;
	flex-direction: column;
}
/*-------menu---------menu-items------------*/
.menu {
	justify-content: space-around;
	background: black;
	position: fixed;
	width: 100%;
}
.link {
	justify-content: center;
	width: 200px;
	height: 50px;
}
.link a{
	justify-content: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
.link:hover {
	background: #2e3d43;
}
@media screen and (max-device-width: 800px) {
	header {
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.menu {
		background: url(btn.png);
		width: 50px;
		height: 50px;
			display: flex;
		-ms-align-items: center;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}
	.menu .link {
		display: none;
	}
	.menu:hover {
		width: 100%;
		height: 300px;
		background: black;
		transition: 0.5s ease;
	}
	.menu:active .link, .menu:hover .link {
		width: 100%;
	display: flex;

	}
	.menu:hover .link:first-child {
		width: 30%;
		margin-right: 70%;
	}
	.menu:hover .link:first-child img{
	 transform: rotate(90deg);
	}
}
